body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial;
    color: #333;
}

.content {
	width: 840px;
	background-color: #fff;
    position: relative;
    top: 100px;
    margin: auto;
    overflow: hidden;
  }
  
.content .content-top {
height: 12px;
background-image: url("img/content-bg.png");
background-position: 0 0;
}
.content .content-bottom {
height: 12px;
background-image: url("img/content-bg.png");
background-position: 840px 0;
}
.content .content-middle {
	padding: 20px 30px;
}
h1 {
	font-size: 26px;
	line-height: 36px;
	color: #2b8c57;
	font-weight: normal;
	margin-bottom: 10px;
	}
h2 {
	font-size: 18px;
	line-height: 28px;
	color: #2b8c57;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 30px;
	}

div.block-1 {
	background-color: #2b8c57;
    background-image: url("img/block-1-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
    font-size: 12px;
	font-style: italic;
    color: #fff;
	padding: 20px 30px;
}
div.block-2 {
	background: #356149 url("img/picture-1.png") right bottom no-repeat;
    font-size: 12px;
	font-style: italic;
    color: #fff;
	padding: 20px 30px;
}

a.button {
	display: block;
	background: url("img/button-1.png") 0 0;
	height: 38px;
	width: 121px;
	text-decoration: none;
}
a.button:hover {
	background-position: 0px -38px;
	
}
a.button:active {
	background-position: 0px -76px;
	}

